@import "./_color";

#appContainer{
    &[data-theme=dark]{
        background-color: darken($blackColor, 3);
        color: $whiteColor;
        .el-container{
            background-color: darken($blackColor, 2);
        }
        .el-divider{
            background-color: lighten($blackColor, 10);
        }
        h5, h6, b, .ellipsis, .subFontStyle{
            color: darken($whiteColor, 30);
        }
        #dashboardContainer .boxCardInfo h2{
            color: darken($whiteColor, 20);
        }
        h3, h2{
            color: $whiteColor;
        }
        .unit, .seesaw{
            color: darken($whiteColor, 30);
        }
        #appLogoBox{
            img{
                filter:invert(1);
            }
            span{
                color: $whiteColor;
            }
        }
        .disabledBlock{
            background-color: rgba($mainCardBackgroundColor, 0.8)
        }
        .mapboxgl-popup-tip{
            border-top-color: rgba($blackColor, 0.8);
        }
        .mapboxgl-popup-content{
            background-color: rgba($blackColor, 0.8);
            border: 1px solid rgba($whiteColor, 0.5);
            border-radius: 1rem;
            padding: 0.5rem 1rem;
            color: darken($whiteColor, 10);
            min-width: 20rem;
            .mapboxgl-popup-close-button{
                color: $whiteColor;
            }
            .popupBoxTitle{
                height: 2rem;
                color: $whiteColor;
            }
            span{
                &:first-child{
                    color: darken($whiteColor, 10);
                }
                &:last-child{
                    color: $whiteColor;
                }
            }
        }
        .componentBox{
            color: $borderColor;
            background-color: $mainCardBackgroundColor;
        }
    }
    &[data-theme=light] {
        background-color: $whiteColor;
        color: $grayColor;
        .el-container{
            background-color: darken($whiteColor, 2);
        }
        .el-divider{
            background-color: lighten($whiteColor, 10);
        }

        h5, h6, b, .ellipsis, .subFontStyle{
            color: darken($grayColor, 30);
        }
        #dashboardContainer .boxCardInfo h2{
            color: darken($grayColor, 20);
        }
        h3, h2, .el-link, .el-dropdown{
            color: $grayColor;
        }
        .unit, .seesaw{
            color: lighten($grayColor, 20);
        }
        .el-card,
        #mapboxContainer > div{            
            color: $grayColor;
        }
        .el-card{
            background-color: $lightCardBackgroundColor;
            button i{
                color: $blackColor;
            }
        }
        .disabledBlock{
            background-color: rgba($whiteColor, 0.5)
        }
        .componentBox{
            color: darken($whiteColor, 30);
            background-color: $lightBackgroundColor;
        }
    }
    .componentBox{
        word-break: break-all;
        margin: 0.25rem;
        padding: 0.5rem 0.75rem 0.75rem 0.75rem;
        border-radius: 1rem;
    }
    h2{
        display: inline;
        font-weight: 600;
    }
    h4{
        font-weight: normal;
    }
    #mapboxContainer > div{
        color: $whiteColor;
    }
    .el-card{
        background-color: $mainCardBackgroundColor;
    }
    .subTitleData{
        @extend %spaceAround;
        align-items: baseline;
        flex: 1 0 33%;
        text-align: center;
        >div{
            padding: 0.1rem 0.3rem;
            border-radius: .3rem;
            &.clicked{
                cursor: pointer;
            }
            &.selected{
                background: rgba($mainBackgroundColor,0.2);
            }
        }
    }
    .subTitleData,
    .mainFigures{
        b{
            position: relative;
            display: block;
            >div{
                position: absolute;
                top: 100%;
                width: 100%;
                text-align: center;
                font-size: .65rem;
            }
            &.statusBox{
                background: rgba($mainBackgroundColor, 0.3);
                color: rgba($whiteColor, 0.6);
                border-radius: 1rem;
                font-size: 0.9rem;
                margin-top: 0.5rem;
            }
        }
        h1{
            &.hazardous{
                color: $hazardousColor;
            }
            &.unhealthy{
                color: $unhealthyColor;
            }
            &.moderate{
                color: $moderateColor;
            }
            &.good{
                color: $goodColor;
            }
        }
    }
    .el-loading-mask .el-loading-spinner .path{
        stroke: $PrimaryColor;
    }
}